<extend name="Base/common1"/>
<block name="body">
<style type="text/css">
input{border:none;outline: none;}
.qnj_zc_username,.qnj_zc_pass,.qnj_zc_cfpass,.qnj_zc_phone,.qnj_zc_code{ width: 90%;height: 40px; margin:5px auto;padding: 0px 0px 0px 25px;font-size: 16px;border: none;
background-color: transparent;}
.qnj_res{ width: 98%; height: 50px; margin:8px auto; text-align: center;}
.qnj_zhang,.qnj_pass{width: 98%; height: 40px;}
.qnj_deng{ width: 98%; height: 40px; background: #ff7500; border: none;}
.qnj_deng_l{float: left;}
.qnj_deng_r{ float: right;}
.qnj_yzm{width: 30%;float: right;background: #ff7500;height: 40px;margin:5px 5px;text-align:center;line-height: 40px;}
.qnj_yzm0{width: 50%;float: left;margin-left: 5px;}
.qhj_hx{width: 88%;height: 5px;border-bottom:1px solid #CCC;margin:0 auto;}
</style>
  <div style="width: 90%;margin: auto;">
        <form action="{:U('Login/doreg')}" method="post">
          <div class="qnj_res"><input type="text" class="qnj_zc_username" name="username" id="username" placeholder="用户名" value="" maxlength="11" /><div class="qhj_hx"></div></div>
          <div class="qnj_res"><input type="password" name="password" id="password"  class="qnj_zc_pass" placeholder="密码" value="" /><div class="qhj_hx"></div></div>
          <div class="qnj_res"><input type="password" id="password2" class="qnj_zc_cfpass" placeholder="确认密码" value="" maxlength="20" /><div class="qhj_hx"></div></div>
          <div class="qnj_res"><input type="text" class="qnj_zc_phone" id="phone" name="phone" placeholder="请输入手机号" value="" maxlength="11" /><div class="qhj_hx"></div></div>
          <div class="qnj_res">
          <div class="qnj_yzm0">
          <input type="text" class="qnj_zc_code" id="yzm" name="yzm" placeholder="输入验证码" value="" maxlength="6" style="width: 98%;" />
          </div>
          <div class="qnj_yzm">
          <a href="javascript:void(0);" id="getVerificationCode" class="dj" style="color:white;">获取验证码</a>
          </div>
          </div>
        <div style="margin:0 auto;width: 98%;text-align:center;">
        <input class="qnj_deng" type="submit" value="注&nbsp;&nbsp;&nbsp;册" style="border:none;background:#ff7500;color:white;line-height:30px;font-size:18px;">
        </div>
		<div style="width: 80%;margin: auto;height: 40px;line-height: 50px;">
			<div class="qnj_deng_l"><a href="{:U('Login/login')}" style="color:#f55d27;">立即登录</a></div>
			<div class="qnj_deng_r"><a href="javascript:;" style="color:#f55d27;">找回密码</a></div>
		</div>
    </form>
  </div>
<br>
<script type="text/javascript">
var flag1=false;
var flag2=false;
var flag3=false;
$('#username').blur(function(){
  var username=$.trim($(this).val());
    $.ajax({
      url:'/Login/doreg0',
      type:'post',
      data:{'name':username},
      async:true,
      success:function(mes){
        if(mes=='ok'){
          flag1=true;
          return true;
        }else if(mes=='no1'){
          alert('用户名长度为6-12位且为数字字母');
          return false;
        }else{
          alert('用户名已存在');
          return false;            
        }
      }
    });
});

$('#password2').blur(function(){
  var password=$(this).val();
  var password2=$('#password').val();
  if(password2==''){
    alert('请重新输入密码!');
    return false;
  }
  if(password !== password2){
    alert('两次密码不一致!');
    return false;
  }else{
    flag2=true;
    return true;
  }
});

$('#phone').blur(function(){
var phone=$(this).val();
      $.ajax({
        url:'/Login/phone',
        type:'post',
        data:{'phonenumber':phone},
        async:true,
        success:function(mes){
          if(mes=='ok'){
            flag3=true;
            return true;
          }else if(mes=='no1'){
            alert('该手机号格式不正确');
            return false;
          }else{
            alert('该手机号已被使用');
            return false;            
          }
        }
      });
});

  $(".dj").click(function(){
  if(flag1&&flag2&&flag3){
  }else{
    alert('提交的信息不正确,请认真核对');  
    return false;
  }
    var phonenum=$('#phone').val();
    var name=$('#username').val();
    var code=$(this);
    var validCode=true;
    var time=120;
    $.ajax({
      url:'/Login/duanxin',
      type:'post',
      data:{'phonenumber':phonenum,'name':name},
      success:function(mes){
        if(mes=='no'){
          alert('系统繁忙');return false;
        }else{
          if(validCode){
              validCode=false;
              var t=setInterval(function(){
                  time--;
                  code.html(time+"秒");
                  if(time==0){
                    clearInterval(t);
                    code.html("重新获取");
                    validCode=true;
                  }
                },1000);
            } 
        }
      }
    });
  });
$('#submit').click(function(){
  var p11=$('#password').val();
  var p22=$('#password2').val();
  if(flag1&&flag2&&flag3&&p11==p22){
    $('.dj').next('label').html('');
  }else{
    alert('您填写的信息有误!');
    return false;
  }
});
$('.qnj_wap_headtitle_vipson2').find('h1').html('注册会员');
$('title').html('注册会员');
</script>


</block>