<block name="slide">
<div class="qnj_nav">
	<ul class="qnj_nav" style="height:210px;">
		<!--<think:nav name="nav">
			<a style="text-align:center;" href="{$nav.url|get_nav_url}">
				<li>
					<i style="text-align:center;" class=""></i>
					<p style="text-align:center;"><span class="sp1">{$nav.title}</span></p>
				</li>
			</a>
		</think:nav>-->
		<li><a href="{:U('Article/index?category='.njy)}"><i class=""></i><p><span class="sp1">去农家</span></p></a></li>
		<li><a href="{:U('Article/index?category='.company)}"><i class=""></i><p><span class="sp1">旅行社</span></p></a></li>
		<li><a href="{:U('Article/index?category='.chartered)}"><i class=""></i><p><span class="sp1">旅游包车</span></p></a></li>
		<li><a href="{:U('Article/index?category='.tzxl)}"><i class=""></i><p><span class="sp1">拓展训练</span></p></a></li>
		<li><a href="{:U('Article/index?category='.aim)}"><i class=""></i><p><span class="sp1">目的地</span></p></a></li>
		<li><a href="{:U('Article/index?category='.news)}"><i class=""></i><p><span class="sp1">旅游攻略</span></p></a></li>
		<li><a href=""><i class=""></i><p><span class="sp1">星级农家院</span></p></a></li>
		<li><a href=""><i class=""></i><p><span class="sp1">联系我们</span></p></a></li>
	</ul>
</div>
<script type="text/javascript">
	$('.qnj_nav').find('i:eq(0)').attr('class','i1');
	$('.qnj_nav').find('i:eq(1)').attr('class','i2');
	$('.qnj_nav').find('i:eq(2)').attr('class','i3');
	$('.qnj_nav').find('i:eq(3)').attr('class','i4');
	$('.qnj_nav').find('i:eq(4)').attr('class','i5');
	$('.qnj_nav').find('i:eq(5)').attr('class','i6');
	$('.qnj_nav').find('i:eq(6)').attr('class','i7');
	$('.qnj_nav').find('i:eq(7)').attr('class','i8');
	$('.qnj_nav').find('i:eq(8)').attr('class','i9');
</script>
</block>