<block name="slide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <div class="banner" >{:hook('imageSlider', $param)}</div>
  <div class="qnj_search">
    <div class="search1" id="search1">
      <img src="__IMG__/settings.png">  拼音查找
      <div class="qnj_pinyin" style="z-index:9999;">
        <ul class="qnj_zimu" >
          <li style="width: 90px;background:#f38d2b;color:#fff;">热门城市</li>
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
          <li>F</li>
          <li>G</li>
          <li>H</li>
          <li>J</li>
          <li>K</li>
          <li>L</li>
          <li>M</li>
          <li>N</li>
          <li>O</li>
          <li>P</li>
          <li>Q</li>
          <li>R</li>
          <li>S</li>
          <li>T</li>
          <li>W</li>
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>

        <div class="blaze">
          <ul>
            <li><a href="/Article/qnjsearch/citynum/beijing/category/njy.html">北京</a></li>
            <li><a href="/Article/qnjsearch/citynum/shanghai/category/njy.html">上海</a></li>
            <li><a href="/Article/qnjsearch/citynum/tj/category/njy.html">天津</a></li>
            <li><a href="/Article/qnjsearch/citynum/hebei/category/njy.html">河北</a></li>
          </ul>
          <br><br><br>
        </div>

        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasa" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasb" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasc" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>

        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasd" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rase" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasf" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasg" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rash" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasj" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rask" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasl" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasm" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasn" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="raso" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasp" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasq" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasr" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rass" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rast" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasw" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasx" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasy" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>  
        <div class="blaze" style="display:none;">
          <ul>
            <foreach name="rasz" item="vo" > 
              <li><a href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&category=njy')}" target="_blank">{$vo.city}</a></li>
            </foreach>
          </ul>
          <br><br><br>
        </div>  
      </div>
    </div>
    <div class="search2">
      <!-- <img src="__IMG__/位置交通.png"> -->周边景点推荐
      <div class="qnj_zhoubian" style="z-index:9999;">
        <div class="qnj_zhoubian1">
          <p style="font-size: 12px;font-weight: bold;">{:get_category_title(116)}</p>
          <foreach name="beijing" item="vo">
          <li>
            <a target="_blank" href="{:U('Article/qnjsearch?citynum='.$vo['name'].'&city='.$vo['city'].'&scenic='.$vo['fjmc'].'&category=njy')}">{$vo.fjmc}</a>
          </li>
          </foreach>
        </div>
        
        <div style="border-top:1px dashed #ddd;background:#f8f8f8;text-align:center;">
            <p style="color:#6c6c6c">如未满足您的需求请您拨打官方电话：<span style="color:#ff6300;">{:C('WEB_SITE_TEL')}</span></p>
        </div>               
      </div>
    </div>
    <div class="search3">
      <input type="text" id="key1" value="请输入商家关键字" style="color:#ff7500;float:left;height: 43px;border:none;width:500px;">
      <a href="javascript:;" class="njysearch1">
        <div style="float:right;background:#ff6300;width: 160px;height:43px;color:#fff;">搜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;索</div>
      </a>
    </div> 
  </div>
</block>